
<html>
  <head>
    <title>Pricing</title>
    <link rel = "stylesheet" href = "../static/style.css">
    <link rel="shortcut icon" href="static/oie_transparent.png"/>
    <div class="navbar" class="hover-underline-animation">
      <a href="/" style="padding: 12px 5px;"><img src="static/oie_transparent.png" alt="My Logo" style="width: 75px; height: auto"></a>
      <a href="/pricing"><div class="hover-underline-animation">Pricing</div></a>
      <a href="/vehicles"><div class="hover-underline-animation">Vehicles</div></a>
    </div>
  </head>
  <body>
    <div class="main">
        <h1>Uses for Neural Networks</h1>
        <p>I have made many uses for . These Include:</p>
        <ol>
            <li>Promoting a safe community for all people.</li>
            <li>Doing very complicated math.</li>
            <li>Making AI(Artificial Inteligence)</li>
            <li>Identifing things in images.</li>
        </ol>
    </div>
  </body>
</html>