<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href='/static/style.css'>
    <link rel="shortcut icon" href="static/oie_transparent.png"/>
    <div class="navbar">
      <a href="/" style="padding: 12px 5px;"><img src="static/oie_transparent.png" alt="My Logo" style="width: 75px; height: auto"></a>
      <a href="/pricing"><div class="hover-underline-animation">Pricing</div></a>
      <a href="/vehicles"><div class="hover-underline-animation">Vehicles</div></a>
    </div>
  </head>
  <body>
  <div class = "fixed-bg"></div>
  <div class = "fixed-bg1"><p class="quotestyle">This is a test</p></div>
  <div class = "body2">
    <p class="hover-underline-animation">Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <form action="/forward/" method="post">
      <button style="background-color: transparent; border-width:0px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
          <path d="M5,6a.908.908,0,0,1-.7-.3l-4-4A.967.967,0,0,1,.3.3.967.967,0,0,1,1.7.3L5,3.6,8.3.3A.967.967,0,0,1,9.7.3a.967.967,0,0,1,0,1.4l-4,4A.908.908,0,0,1,5,6Z" transform="translate(0 10) rotate(-90)" fill="#fff"></path>
        </svg>
      </button>
    </form>

    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
    <p>Some text some text some text some text..<br> this is a test to see what is <br>happening with this stupidly old shit</p>
  </button>
  </body>
</html>