<html>
  <head>
    <title>Uses for Neural Networks</title>
    <link rel = "stylesheet" href = "../static/style.css">
    <a href = "/">Home</a>
    <div class="navbar">
          <img src="static/FluxChikin.png" alt="My Logo" style="width: 75px; height: auto">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/game">Game Development</a>
          <a href="/support">Support Me</a>
          <a href="/programming">Programming</a>
          <a href="/live_chat">Live Chat</a>
      </div>
  </head>
  <body>
    <h1>Uses for Neural Networks</h1>
    <p>I have made many uses for . These Include:</p>
    <ol>
      <li>Promoting a safe community for all people.</li>
      <li>Doing very complicated math.</li>
      <li>Making AI(Artificial Inteligence)</li>
      <li>Identifing things in images.</li>
    </ol>
  </body>
</html>